<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1>Quantum Simulator</h1>
<body>
    {{body}}
</body>
<form method="post">
    <br>
    <input type="number" name="shots" placeholder="Number of Shots" value="{{ request.form['shots'] }}"></input>
    <br>
    <br>
    <button type="submit">Calculate</button>
</form>
</html>